<section class="relative w-full h-[80vh]" style="font-family: 'Noto Serif Variable', serif;">
  <!-- Imagen de fondo -->
  <img
    src="https://img.freepik.com/fotos-premium/primer-plano-postre-servido-mesa-contra-fondo-negro_1609942-1549.jpg?semt=ais_hybrid&w=740&q=80"
    alt="Hero"
    class="w-full h-full object-cover"
  />

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido centrado -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white">
    <p class="text-yellow-400">2005</p>

    <h1
      class="text-white text-5xl md:text-7xl lg:text-8xl font-black mb-8 leading-tight tracking-tight"
    >
      El arte <br />
      <span class="italic font-normal">del Corte</span>
    </h1>

    <p class="mt-4 text-xl text-center max-w-2xl drop-shadow-lg">
      Experimente la excelencia de la maduración en seco.  
      Cada filete es una obra maestra, seleccionado a mano y madurado durante 45 días.
    </p>

    <!-- Botones lado a lado -->
    <div class="mt-8 flex gap-4">
      <a
        href="#prices"
        class="bg-yellow-400 px-6 py-4 rounded hover:bg-yellow-600 text-black font-semibold"
      >
        EXPLORAR EL MENÚ
      </a>
      <a
        href="#galeria"
        class="bg-transparent border border-white px-6 py-4 rounded hover:bg-yellow-400 hover:text-black font-semibold"
      >
        VER GALERÍA
      </a>
    </div>
  </div>
</section>