<nav
  class="grid grid-cols-3 items-center p-4 bg-[#12110a] text-white"
  style="font-family: 'Noto Serif Variable', serif;"
>
  <!-- Logo a la izquierda -->
  <div>
    <a href="#" class="flex items-center text-2xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 text-yellow-400"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="M4 3h16" />
          <path d="M7 3v18" />
          <path d="M17 3v18" />
        </svg>
      
      RESTAURANTE LUXE
    </a>
  </div>

  <!-- Links en el centro -->
  <div class="flex justify-center  gap-6">
    <a href="#historia" class="hover:text-yellow-400">Historia</a>
    <a href="#menu" class="hover:text-yellow-400">Menú</a>
    <a href="#comedor-privado" class="hover:text-yellow-400">Comedor Privado</a>
    <a href="#contacto" class="hover:text-yellow-400">Contacto</a>
  </div>

  <!-- Botón a la derecha -->
  <div class="flex justify-end">
    <a
      href="#reserva"
      class="bg-yellow-400 hover:bg-yellow-600 px-4 py-2 rounded font-semibold text-black "
    >
      Reserva
    </a>
  </div>
  
</nav>
<hr class="opacity-50">
