<section
id="prices"
  class="bg-[#1d1b12] py-24"
  style="font-family: 'Noto Serif Variable', serif;;"
>
  <h3
    class="text-center text-yellow-400 uppercase text-xs mb-4 tracking-[0.4em]"
  >
    SELECCIONES
  </h3>
  <h1
    class="text-center text-white uppercase font-bold text-4xl tracking-tighter"
  >
    Cortes Especiales
  </h1>

  <!-- Barrita Amarilla -->
  <div class="mx-auto bg-yellow-400 h-1 w-24 rounded m-7"></div>

  <div class="max-w-6xl mx-auto grid grid-cols-2 gap-8">
    <!-- Elemento 1 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">Tomahawk Madurado</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$85K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        32 oz con hueso, madurado 45 días, mantequilla de romero y ajo.
      </p>
    </div>

    <!-- Elemento 2 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">Ribeye Premium</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$70K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        Corte jugoso de 28 oz, madurado 30 días, mantequilla de hierbas frescas.
      </p>
    </div>

    <!-- Elemento 3 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">Asado Especial</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$65K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        Corte jugoso de 24 oz, madurado 30 días, acompañado de mantequilla de
        hierbas.
      </p>
    </div>

    <!-- Elemento 4 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">Filete Angus</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$60K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        Filete de 20 oz, carne Angus certificada, acompañado de salsa de vino
        tinto.
      </p>
    </div>

    <!-- Elemento 5 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">Porterhouse</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$90K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        Corte de 36 oz, combinación de lomo y solomillo, madurado 40 días.
      </p>
    </div>

    <!-- Elemento 6 -->
    <div class="p-6 rounded text-white">
      <div class="flex items-center">
        <h3 class="uppercase font-bold">New York Strip</h3>
        <div class="border-b border-dashed border-gray-400 grow mx-3"></div>
        <span class="text-yellow-400 font-semibold">$55K</span>
      </div>
      <p class="text-slate-500 text-sm italic mt-2">
        Corte clásico de 18 oz, madurado 25 días, servido con mantequilla de
        ajo.
      </p>
    </div>
  </div>

  <!-- BOTON MENÚ -->

  <section class="text-center mt-8">
    <a
      href="/menu"
      class="inline-block text-yellow-400 font-bold tracking-wide text-sm
           border border-yellow-400 px-6 py-2
           hover:bg-yellow-400 hover:text-black
           transition-all uppercase"
    >
      Ver menú completo
    </a>
  </section>
</section>
